<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start"><ion-button routerLink="/contatos"> <ion-icon name="arrow-undo-outline"></ion-icon> </ion-button></ion-buttons>
    <ion-title>Edita-Contatos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-input type="text" placeholder="Nome:"  [(ngModel)]="nome">    </ion-input>
    <ion-input type="text" placeholder="Email:"  [(ngModel)]="email">    </ion-input>
    <ion-input type="text" placeholder="Telefone:"  [(ngModel)]="telefone">    </ion-input>
    

      <ion-button > OK </ion-button>
    
</ion-content>
